[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
bumpversion = "*"
flake8 = "*"
pygments = "*"
"collective.checkdocs" = "*"

[requires]
python_version = "3.7"
