[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
bump2version = "*"
flake8 = "*"
pygments = "*"
"collective.checkdocs" = "*"
restview = "*"
isort = "*"
pre-commit = "*"

[requires]
python_version = "3.7"
